.qrcode-card {
  width: var(--width-mobile);
  height: auto;
  aspect-ratio: 3/4;
  padding: 15px 15px 10px 15px;
  background-color: var(--color-white);
}

.qrcode-bg {
  background-color: var(--color-dark-blue);
  width: auto;
  height: 100%;
  position: relative;
}

.text-body {
  font-size: var(--font-size);
  color: var(--color-grayish-blue) !important;
  font-weight: 400;
}

.text-title {
  font-weight: 700;
  font-size: 24px;
  color: var(--color-dark-blue)
}

.text-content {
  margin-top: 15px;
  text-align: center;
  font-family: 'Outfit', sans-serif;
  padding-left: 34px;
  padding-right: 34px;
}
